# Игнорировать виртуальное окружение
venv/

# Игнорировать файлы журналов
*.log

# Игнорировать скомпилированные файлы Python
*.pyc
*.pyo

# Игнорировать кэшированные файлы Python
__pycache__/

# Игнорировать системные файлы и настройки
.DS_Store
Thumbs.db


