* {
	width: auto;
	margin: 0;
	padding: 0;
	height: auto;
}
body {
	background-color: #000000;
}
header {
	display: flex;
	justify-content: center;
}
main {
	display: flex;
	justify-content: center;
}
footer{
  display:flex;
  justify-content: center;
}

.container {
	display: block;
	align-items: center;
	width: 1278px;
	margin-top: 40px;
}
.header {
	display: flex;
}

.header4 {
	display: flex;
}

.header_link1 {
	color: white;
	font-family: Arial;
	font-size: 25px;
	margin-left: 143px;
}
.header_link2 {
	margin-left: 143px;
}
.header_search {
	margin-left: 143px;
}
.link {
	text-decoration: none;
	color: white;
	font-family: Arial;
	font-size: 25px;
}
.films1{
  text-decoration: none;
  color: white;
  font-size: 26px;
  font-family: 'Montserrat', serif;
}
.input_search {
	border: 2px solid #fff;
	border-radius: 19px;
	width: 224px;
	height: 29px;
	background-color: #000000;
	margin-left: 1px;
}
.header_search {
	margin-top: 5px;
}
.header_avtorization {
	margin-left: 143px;
}
.line {
	color: #6a6a6a;
	margin-top: 40px;
}
.films {
	display: grid;
	grid-template-columns: repeat(5, 223px);
	grid-column-gap: 42px;
}
.text1 {
	color:  WHITE;
	font-size: 26px;
	font-family: 'Montserrat', serif;
	margin-left: 45px;
}
.film_img{
	width: 223px;
	height: 316px;
 	margin-top: 40px;
}
.footer1_text{
  color:#545454;
  font-size: 22px;
}
.footer{
  display:flex;
  margin-top: 50px;
}
.footer2_text1{
  color: #FFFFFF;
  font-size: 22px;
  font-family: 'Montserrat', serif;
  margin-left: 66px;

}
.footer2{
  margin-left: 192px;
}
.footer2_1{
  display:flex;
  margin-top: 27px;
}
.footer2_Text2{
  color:#545454;
  font-size: 22px;
  font-family: 'Montserrat', serif; 
  margin-top: 23px;
}
.footer2_img1{
  margin-left: 33px;
}
.footer2_img2{
  margin-left: 33px;
}
.footer2_img3{
  margin-left: 33px;
}
.footer2_img4{
  margin-left: 33px;
}


